/* Portfolio Main Styles */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* Set it up! */
body
{
	margin: 45px 20px 200px 20px;
	background-color: #222426;
	color: #616363;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}
a
{
	color: #838686;
	font-size: 14px;
	text-decoration: none;
}
a:hover
{
	color: #1fb3ff;
	font-size: 14px;
	text-decoration: underline;
}
div#content
{
	width: 1000px;
	margin: 0px auto 0px auto;
	text-align: left;
	clear: both;
}
div#header
{
	float: left;
	clear: both;
	width: 100%;
	text-align: center;
	padding: 0px auto 0px auto;
}
div#left_col
{
	float: left;
	clear: left;
	text-align: left;
	width: 488px;
	padding-right: 12px;
}
div#right_col
{
	float: right;
	clear: right;
	text-align: right;
	width: 488px;
	padding-left: 12px;
}
.header_name
{
	color: #fff;
	font-weight: 300;
	font-size: 84px;
}
.large_title
{
	color: #1fb3ff;
	font-weight: 300;
	font-size: 36px;
}
.title
{
	color: #fff;
	font-weight: 700;
	font-size: 14px;
}

.desc {
	padding-top: 5px;
	display: block;

}

.subtitle, .desc
{
	color: #b8b8b8;
	font-size: 14px;
}
.subtitle a
{
	-webkit-transition:all 0.35s ease;
	-moz-transition:all 0.35s ease;
	-o-transition:all 0.35s ease;
	transition:all 0.35s ease;
	color: #b8b8b8;
	font-size: 14px;
	text-decoration: none;
}
.subtitle a:hover
{
	color: #1fb3ff;
	font-size: 14px;
	text-decoration: underline;
}
.item
{
	margin: 30px 0 0 0;
	clear: both;
}
.item p
{
	-webkit-transition:color 0.5s ease;
	-moz-transition:color 0.5s ease;
	-o-transition:color 0.5s ease;
	transition:color 0.5s ease;
}
.item p:hover
{
	color: #b8b8b8;
}
#footer
{
	float: left;
	clear: both;
	width: 100%;
	height: 40px;
	margin-bottom: 40px;
}
#print_subtitle
{
	display: none;
}